body {
  font-family: Arial, Helvetica, sans-serif;
}
video {
  border: 1px solid #aaa;
  margin-right: 2em;
}

.container + .container {
  margin-top: 2em;
}

.field-group {
  margin-bottom: 0.5em;
}

.field-group label {
  font-weight: bold;
  width: 100px;
}

.box {
  border: 1px solid #aaa;
  width: 650px;
  height: 200px;
  overflow-y: scroll;
}

.row {
  margin: 1em 0;
}

h3 {
  margin: 0.5em 0;
}

button {
  margin-right: 1em;
  padding: 0.5em 0;
  min-width: 100px;
}

input {
  padding: 0.5em 0;
}

select {
  min-width: 300px;
  min-height: 100px;
}