video {
  border: 1px solid #aaa;
  margin-right: 2em;
}

.container + .container {
  margin-top: 2em;
}

.field-group {
  margin-bottom: 0.5em;
}

.field-group label{
  font-weight: bold;
  width: 100px;
}

#chat {
  border: 1px solid #aaa;
  width: 400px; 
  min-height: 200px;
}

